In [1]:
# Excersise #1 - Find the Total Number of Runs and RBIs for the Red Sox
# Get total number of home runs and rbi's
# step 1: Add a new column with the key 'Team' and all column values should be 'BOS'
# step 2: Group by the 'Team' column and get total home runs and rbi's
# Produce data for both 2017 and 2018 (ie print both seperated by a newline character \n)
"""
8
TEAM    HR   RBI
9
----------------
10
BOS     144  538
11
"""

'\n8\nTEAM    HR   RBI\n9\n----------------\n10\nBOS     144  538\n11\n'

In [4]:
!pip install pandas

Collecting pandas
  Using cached pandas-1.3.4-cp310-cp310-win_amd64.whl
Collecting numpy>=1.21.0
  Downloading numpy-1.21.3-cp310-cp310-win_amd64.whl (14.0 MB)
Collecting python-dateutil>=2.7.3
  Using cached python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
Collecting pytz>=2017.3
  Using cached pytz-2021.3-py2.py3-none-any.whl (503 kB)
Collecting six>=1.5
  Using cached six-1.16.0-py2.py3-none-any.whl (11 kB)
Installing collected packages: six, pytz, python-dateutil, numpy, pandas
Successfully installed numpy-1.21.3 pandas-1.3.4 python-dateutil-2.8.2 pytz-2021.3 six-1.16.0

In [20]:
import pandas as pd
import numpy as np
pd.get_option("display.max_columns")

20

In [7]:
np

In [10]:
redsox2017 = pd.read_csv('../files/redsox_2017_hitting.txt')
redsox2018 = pd.read_csv('../files/redsox_2018_hitting.txt')

,Rk,Pos,Name,Age,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,1,C,Christian Vazquez,26,99,345,324,43,94,18,...,0.330,0.404,0.735,91,131,14,3,0,1,0
1,2,1B,Mitch Moreland,31,149,576,508,73,125,34,...,0.326,0.443,0.769,99,225,14,6,0,5,6
2,3,2B,Dustin Pedroia,33,105,463,406,46,119,19,...,0.369,0.392,0.760,100,159,11,2,2,4,4
3,4,SS,Xander Bogaerts,24,148,635,571,94,156,32,...,0.343,0.403,0.746,95,230,17,6,0,2,6
4,5,3B,Rafael Devers,20,58,240,222,34,63,14,...,0.338,0.482,0.819,111,107,5,0,0,0,3
5,6,LF,Andrew Benintendi,22,151,658,573,84,155,26,...,0.352,0.424,0.776,102,243,16,6,1,8,7
6,7,CF,Jackie Bradley Jr.,27,133,541,482,58,118,19,...,0.323,0.402,0.726,89,194,8,9,0,2,4
7,8,RF,Mookie Betts,24,153,712,628,101,166,46,...,0.344,0.459,0.803,108,288,9,2,0,5,9
8,9,DH,Hanley Ramirez,33,133,553,496,58,120,24,...,0.320,0.429,0.750,94,213,15,6,0,0,8
9,10,C,Sandy Leon,28,85,301,271,32,61,14,...,0.290,0.354,0.644,68,96,5,1,1,3,1
10,11,UT,Chris Young,33,90,276,243,30,57,12,...,0.322,0.387,0.709,85,94,4,2,0,1,0
11,12,3B,Deven Marrero,26,71,188,171,32,36,9,...,0.259,0.333,0.593,54,57,8,0,3,2,0
12,13,2B,Eduardo Nunez,30,38,173,165,23,53,12,...,0.353,0.539,0.892,128,89,3,2,0,0,0
13,14,2B,Brock Holt,29,64,164,140,20,28,6,...,0.305,0.243,0.548,47,34,3,3,0,2,0
14,15,IF,Josh Rutledge,28,37,118,107,10,24,2,...,0.297,0.262,0.558,49,28,1,2,0,0,0
15,16,3B,Pablo Sandoval,30,32,108,99,10,21,2,...,0.269,0.354,0.622,61,35,4,0,0,1,0
16,17,UT,Sam Travis,23,33,83,76,13,20,6,...,0.325,0.342,0.667,75,26,2,1,0,0,0
17,18,UT,Tzu-Wei Lin,23,25,66,56,7,15,0,...,0.369,0.339,0.709,88,19,0,0,1,0,0
18,19,IF,Marco Hernandez,24,21,60,58,7,16,3,...,0.300,0.328,0.628,65,19,0,1,0,0,0
19,20,UT,Rajai Davis,36,17,38,36,7,9,2,...,0.289,0.306,0.595,56,11,2,1,0,0,0
20,21,UT,Steve Selsky,27,8,9,9,0,1,1,...,0.111,0.222,0.333,-16,2,0,0,0,0,0
21,22,UT,Blake Swihart,25,6,7,5,1,1,0,...,0.429,0.200,0.629,74,1,0,0,0,0,0
22,23,2B,Chase d'Arnaud,30,2,1,1,2,1,0,...,1.000,1.000,2.000,428,1,0,0,0,0,0

In [16]:
redsox2017 = redsox2017.set_index('Rk', drop=True)
redsox2017

,Pos,Name,Age,G,PA,AB,R,H,2B,3B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
Rk,,,,,,,,,,,,,,,,,,,,,
1,C,Christian Vazquez,26,99,345,324,43,94,18,2,...,0.330,0.404,0.735,91,131,14,3,0,1,0
2,1B,Mitch Moreland,31,149,576,508,73,125,34,0,...,0.326,0.443,0.769,99,225,14,6,0,5,6
3,2B,Dustin Pedroia,33,105,463,406,46,119,19,0,...,0.369,0.392,0.760,100,159,11,2,2,4,4
4,SS,Xander Bogaerts,24,148,635,571,94,156,32,6,...,0.343,0.403,0.746,95,230,17,6,0,2,6
5,3B,Rafael Devers,20,58,240,222,34,63,14,0,...,0.338,0.482,0.819,111,107,5,0,0,0,3
6,LF,Andrew Benintendi,22,151,658,573,84,155,26,1,...,0.352,0.424,0.776,102,243,16,6,1,8,7
7,CF,Jackie Bradley Jr.,27,133,541,482,58,118,19,3,...,0.323,0.402,0.726,89,194,8,9,0,2,4
8,RF,Mookie Betts,24,153,712,628,101,166,46,2,...,0.344,0.459,0.803,108,288,9,2,0,5,9
9,DH,Hanley Ramirez,33,133,553,496,58,120,24,0,...,0.320,0.429,0.750,94,213,15,6,0,0,8
10,C,Sandy Leon,28,85,301,271,32,61,14,0,...,0.290,0.354,0.644,68,96,5,1,1,3,1
11,UT,Chris Young,33,90,276,243,30,57,12,2,...,0.322,0.387,0.709,85,94,4,2,0,1,0
12,3B,Deven Marrero,26,71,188,171,32,36,9,0,...,0.259,0.333,0.593,54,57,8,0,3,2,0
13,2B,Eduardo Nunez,30,38,173,165,23,53,12,0,...,0.353,0.539,0.892,128,89,3,2,0,0,0
14,2B,Brock Holt,29,64,164,140,20,28,6,0,...,0.305,0.243,0.548,47,34,3,3,0,2,0
15,IF,Josh Rutledge,28,37,118,107,10,24,2,1,...,0.297,0.262,0.558,49,28,1,2,0,0,0
16,3B,Pablo Sandoval,30,32,108,99,10,21,2,0,...,0.269,0.354,0.622,61,35,4,0,0,1,0
17,UT,Sam Travis,23,33,83,76,13,20,6,0,...,0.325,0.342,0.667,75,26,2,1,0,0,0
18,UT,Tzu-Wei Lin,23,25,66,56,7,15,0,2,...,0.369,0.339,0.709,88,19,0,0,1,0,0
19,IF,Marco Hernandez,24,21,60,58,7,16,3,0,...,0.300,0.328,0.628,65,19,0,1,0,0,0
20,UT,Rajai Davis,36,17,38,36,7,9,2,0,...,0.289,0.306,0.595,56,11,2,1,0,0,0
21,UT,Steve Selsky,27,8,9,9,0,1,1,0,...,0.111,0.222,0.333,-16,2,0,0,0,0,0
22,UT,Blake Swihart,25,6,7,5,1,1,0,0,...,0.429,0.200,0.629,74,1,0,0,0,0,0
23,2B,Chase d'Arnaud,30,2,1,1,2,1,0,0,...,1.000,1.000,2.000,428,1,0,0,0,0,0

In [18]:
redsox2017.describe(include='all')

,Pos,Name,Age,G,PA,AB,R,H,2B,3B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
count,23,23,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,...,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000
unique,11,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,UT,Chase d'Arnaud,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,27.478261,72.086957,274.565217,245.521739,34.130435,63.434783,13.086957,0.826087,...,0.346217,0.393348,0.739609,93.521739,100.086957,6.130435,2.304348,0.347826,1.565217,2.086957
std,NaN,NaN,4.110624,52.747178,236.592059,209.032157,30.804817,55.645653,12.630817,1.466355,...,0.153742,0.156269,0.298278,78.686299,91.930267,5.786382,2.566122,0.775107,2.149547,3.073539
min,NaN,NaN,20.000000,2.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,0.111000,0.200000,0.333000,-16.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,24.000000,28.500000,74.500000,67.000000,8.500000,18.000000,2.000000,0.000000,...,0.298500,0.330500,0.625000,63.000000,22.500000,1.500000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,27.000000,64.000000,188.000000,171.000000,30.000000,53.000000,12.000000,0.000000,...,0.325000,0.387000,0.709000,88.000000,89.000000,4.000000,2.000000,0.000000,1.000000,0.000000
75%,NaN,NaN,30.000000,119.000000,502.000000,444.000000,52.000000,118.500000,19.000000,1.500000,...,0.348000,0.426500,0.764500,99.500000,176.500000,10.000000,3.000000,0.000000,2.000000,4.000000
max,NaN,NaN,36.000000,153.000000,712.000000,628.000000,101.000000,166.000000,46.000000,6.000000,...,1.000000,1.000000,2.000000,428.000000,288.000000,17.000000,9.000000,3.000000,8.000000,9.000000

In [22]:
redsox2018 = redsox2018.set_index('Rk', drop=True)
redsox2018

,Pos,Name,Age,G,PA,AB,R,H,2B,3B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
Rk,,,,,,,,,,,,,,,,,,,,,
1,C,Sandy Leon,29,89,288,265,30,47,12,0,...,0.232,0.279,0.511,37,74,6,4,3,1,0
2,1B,Mitch Moreland,32,124,459,404,57,99,23,4,...,0.325,0.433,0.758,102,175,12,0,0,5,2
3,2B,Eduardo Nunez,31,127,502,480,56,127,23,3,...,0.289,0.388,0.677,81,186,17,2,1,3,0
4,SS,Xander Bogaerts,25,136,580,513,72,148,45,3,...,0.360,0.522,0.883,135,268,14,6,0,6,4
5,3B,Rafael Devers,21,121,490,450,59,108,24,0,...,0.298,0.433,0.731,94,195,9,0,0,2,6
6,LF,Andrew Benintendi,23,148,661,579,103,168,41,6,...,0.366,0.465,0.830,123,269,9,2,2,7,1
7,CF,Jackie Bradley Jr.,28,144,535,474,76,111,33,4,...,0.314,0.403,0.717,92,191,6,11,0,4,3
8,RF,Mookie Betts,25,136,614,520,129,180,47,5,...,0.438,0.640,1.078,186,333,5,8,0,5,8
9,DH,J.D. Martinez,30,150,649,569,111,188,37,2,...,0.402,0.629,1.031,173,358,19,4,0,7,11
10,MI,Brock Holt,30,109,367,321,41,89,18,2,...,0.362,0.411,0.774,109,132,7,7,0,2,2
11,C,Christian Vazquez,27,80,269,251,24,52,10,0,...,0.257,0.283,0.540,46,71,5,4,1,0,1
12,UT,Blake Swihart,26,82,207,192,28,44,10,0,...,0.285,0.328,0.613,65,63,4,0,0,0,0
13,UT,Hanley Ramirez,34,44,195,177,25,45,7,0,...,0.313,0.395,0.708,90,70,9,2,0,2,0
14,1B,Steve Pearce,35,50,165,136,19,38,8,1,...,0.394,0.507,0.901,141,69,1,5,0,2,0
15,2B,Ian Kinsler,36,37,143,132,17,32,6,0,...,0.294,0.311,0.604,64,41,5,0,0,1,0
16,SS,Tzu-Wei Lin,24,37,73,65,15,16,6,1,...,0.329,0.415,0.744,100,27,0,0,0,0,0
17,UT,Sam Travis,24,19,38,36,5,8,3,0,...,0.263,0.389,0.652,73,14,1,0,0,0,0
18,UT,Brandon Phillips,37,9,27,23,4,3,0,0,...,0.259,0.261,0.520,42,6,1,0,0,0,0
19,2B,Dustin Pedroia,34,3,13,11,1,1,0,0,...,0.231,0.091,0.322,-7,1,0,0,0,0,0
20,C,Dan Butler,31,2,7,6,0,1,0,0,...,0.143,0.167,0.310,-17,1,0,0,0,1,0

In [23]:
redsox2018.describe(include='all')

,Pos,Name,Age,G,PA,AB,R,H,2B,3B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
count,20,20,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,...,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
unique,11,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,UT,Dan Butler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,29.100000,82.350000,314.100000,280.200000,43.600000,75.250000,17.650000,1.550000,...,0.307700,0.387500,0.695200,86.450000,127.200000,6.500000,2.750000,0.350000,2.400000,1.900000
std,NaN,NaN,4.666792,52.916294,230.972065,203.871631,38.293053,62.462515,15.624795,1.959457,...,0.068843,0.135884,0.200419,52.199491,113.226183,5.633546,3.274704,0.812728,2.436564,3.110255
min,NaN,NaN,21.000000,2.000000,7.000000,6.000000,0.000000,1.000000,0.000000,0.000000,...,0.143000,0.091000,0.310000,-17.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,25.000000,37.000000,125.500000,115.250000,16.500000,28.000000,6.000000,0.000000,...,0.262000,0.304000,0.588000,59.500000,37.500000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,29.500000,85.500000,278.500000,258.000000,29.000000,49.500000,11.000000,0.500000,...,0.305500,0.399000,0.712500,91.000000,72.500000,5.500000,2.000000,0.000000,2.000000,0.000000
75%,NaN,NaN,32.500000,129.250000,510.250000,475.500000,62.250000,115.000000,26.250000,3.000000,...,0.360500,0.441000,0.788000,112.500000,192.000000,9.000000,4.250000,0.000000,4.250000,2.250000
max,NaN,NaN,37.000000,150.000000,661.000000,579.000000,129.000000,188.000000,47.000000,6.000000,...,0.438000,0.640000,1.078000,186.000000,358.000000,19.000000,11.000000,3.000000,7.000000,11.000000

In [21]:
# Excersise #1
# Get total number of home runs and rbi's for the Red Sox
# step 1: Add a new column with the key 'Team' and all column values should be 'BOS'
# step 2: Group by the 'Team' column and get total home runs and rbi's
# Produce data for both 2017 and 2018 (ie print both seperated by a newline character \n)

In [39]:
sorted_runs_2017 = redsox2017[['HR', 'RBI']].sort_values(['HR', 'RBI'], ascending=False).reset_index(drop=True)
sorted_runs_2017
sorted_runs_2017['HR'].describe(include='all')

count    23.000000
mean      7.304348
std       8.309003
min       0.000000
25%       0.000000
50%       5.000000
75%      10.000000
max      24.000000
Name: HR, dtype: float64

In [40]:
sorted_runs_2017['RBI'].describe(include='all')

count     23.000000
mean      31.956522
std       32.031913
min        0.000000
25%        2.000000
50%       27.000000
75%       62.000000
max      102.000000
Name: RBI, dtype: float64

In [42]:
sorted_runs_2018 = redsox2018[['HR', 'RBI']].sort_values(['HR', 'RBI'], ascending=False).reset_index(drop=True)
sorted_runs_2018
sorted_runs_2018['HR'].describe(include='all')

count    20.000000
mean     10.400000
std      11.722224
min       0.000000
25%       1.000000
50%       6.500000
75%      15.250000
max      43.000000
Name: HR, dtype: float64

In [43]:
sorted_runs_2018['RBI'].describe(include='all')

count     20.000000
mean      41.300000
std       37.559917
min        0.000000
25%       13.750000
50%       27.500000
75%       66.500000
max      130.000000
Name: RBI, dtype: float64

In [ ]:
# Excersise #1
# Get total number of home runs and rbi's for the Red Sox
# step 1: Add a new column with the key 'Team' and all column values should be 'BOS'
# step 2: Group by the 'Team' column and get total home runs and rbi's
# Produce data for both 2017 and 2018 (ie print both seperated by a newline character \n

In [53]:
runs_17 = redsox2017['HR']
rbis_17 = redsox2017['RBI']
sox17 = runs_17+rbis_17
runs_18 = redsox2018['HR']
rbis_18 = redsox2018['RBI']
sox18 = runs_18+rbis_18
BOS = 'BOS'

data = {
    '2017 HR': sox17,
    '2018 HR': runs_18,
    '2017 RBI': rbis_17,
    '2018 RBI': rbis_18,
    'SOX17': sox17,
    'SOX18': sox18,
    'Team': BOS
}

redsox = pd.DataFrame.from_dict(data)
redsox

    2017 HR  2018 HR  2017 RBI  2018 RBI  SOX17  SOX18 Team
Rk
1        37      5.0        32      22.0     37   27.0  BOS
2       101     15.0        79      68.0    101   83.0  BOS
3        69     10.0        62      44.0     69   54.0  BOS
4        72     23.0        62     103.0     72  126.0  BOS
5        40     21.0        30      66.0     40   87.0  BOS
6       110     16.0        90      87.0    110  103.0  BOS
7        80     13.0        63      59.0     80   72.0  BOS
8       126     32.0       102      80.0    126  112.0  BOS
9        85     43.0        62     130.0     85  173.0  BOS
10       46      7.0        39      46.0     46   53.0  BOS
11       32      3.0        25      16.0     32   19.0  BOS
12       31      3.0        27      18.0     31   21.0  BOS
13       35      6.0        27      29.0     35   35.0  BOS
14        7      7.0         7      26.0      7   33.0  BOS
15        9      1.0         9      16.0      9   17.0  BOS
16       16      1.0        12       6.0     16    7.0  BOS
17        1      1.0         1       7.0      1    8.0  BOS
18        2      1.0         2       2.0      2    3.0  BOS
19        2      0.0         2       0.0      2    0.0  BOS
20        2      0.0         2       1.0      2    1.0  BOS
21        0      NaN         0       NaN      0    NaN  BOS
22        0      NaN         0       NaN      0    NaN  BOS
23        0      NaN         0       NaN      0    NaN  BOS

In [56]:
redsox.groupby('Team', as_index = False).count()[['SOX17', 'SOX18']].sort_values('SOX17', ascending=False)

   SOX17  SOX18
0     23     20

In [ ]:
# Find the average age of runners in the 2017 Boston Marathon